body{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 97vh;
  background-color: black;
}

div{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
  border-radius: 30px;
}

input{
  margin: 30px;
  height: 65px;
  width: 320px;
  font-size: 30px;
  overflow-x: auto;
}

p{
  padding: 10px;
}

button{
  margin: 5px 15px;
  height: 70px;
  width: 70px;
  font-size: 30px;
  font-weight: 700;
  border: none;
  border-radius: 35px;
  transition: all 0.15s;
}

button:hover{
  cursor: pointer;
  opacity: 0.9;
}

button:active{
  opacity: 0.5;
}

.number{
  background-color: rgb(32, 32, 32);
  color: white;
}

.things{
  background-color: rgb(112, 112, 112);
  color: white;
}

.equal{
  background-color: green;
  color: white;
}