.main-container{
  margin: 105px 0px 0px 0px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  transition: all 0.3s;
}

.options{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  overflow-x: auto; 
  gap: 15px;
  position: absolute;
  top: 63px;
  left: 20px;
  right: 20px;
  transition: all 0.3s;
}

.options::-webkit-scrollbar {
  display: none;
}

.options button{
  width: 151px;
  height: 40px;
  padding: 0px 17px;
  margin: auto;
  background-color: rgb(232, 232, 232);
  border: none;
  border-radius: 8px;
  font-weight: 700;
  font-family: cursive;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.15s;
}

.options button:hover{
  box-shadow: 0px 0px 0px 2px rgb(232, 232, 232);
}

.options button:active{
  opacity: 0.7;
}

.product-container:hover img{
  width: 74%;
}

.photo-container{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 350px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.144);
  cursor: pointer;
}

.product-container:hover{
  box-shadow: 0 0 0 4px rgba(96, 96, 96, 0.167);
  background-color: rgba(96, 96, 96, 0.167);
}

.photo-container img{
  width: 70%;
  transition: all 0.15s;
}

.product-infos{
  padding: 0px 0px 5px 0px;
  display: flex;
  align-items: center;
  margin: 0px 0px 0px 20px;
  display: flex;
  flex-direction: row;
  gap: 7px;
}

.name,
.price{
  font-weight: 600;
  cursor: default;
}

.product-infos button{
  border: none;
  height: 30px;
  width: 90px;
  border-radius: 5px;
  color: white;
  font-weight: 600;
  background-color: rgb(0, 163, 0);
  margin: 0px 10px 0px auto;
}

.product-infos button:hover{
  opacity: 0.8;
  cursor: pointer;
}

.product-container,
.helmet-container,
.bike-container,
.suspensions-container,
.gloves-container,
.protectors-container,
.shoes-container,
.jersey-container{
  margin: 5px;
  height: 400px;
  border-radius: 10px;
  background-color: rgba(128, 128, 128, 0.115);
  display: grid;
  transition: all 0.15s;
}

