.side-bar{
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  position: fixed;
  top: 0px;
  width: 0px;
  bottom: 0px;
  box-shadow: 3px 3px 5px gray;
  z-index: 100;
  transition: all 0.15s;
}
.side-bar .svg{
  display: none;
  padding: 5px;
  width: 38px;
  background-color: rgb(181, 181, 181);
  border-radius: 8px;
  transition: all 0.15s;
}

.side-bar .svg:hover{
  box-shadow: 0px 0px 0px 2px rgb(181, 181, 181);
}

.side-bar .svg:active{
  opacity: 0.7;
}